<h1>New article</h1>

<div class="container text-center">
    <%= form_with model: @task do |f| %>
      <div class="row col-sm-6">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="row col-sm-6">
        <%= f.label :content %>
        <%= f.text_field :content %>
      </div>
      <div class="row col-sm-6">
        <a class="btn btn-primary"<%= f.submit %>> Create article</a>
      </div>
    <% end %>
</div>
