<h1>New article</h1>

<form>
  <div class="mb-3">
    <%= form_with model: @article do |f| %>
      <label class="form-label"> <%= f.label :title %> </label>
        <input class="form-control" <%= f.text_field :title %>>
      <label class="form-label"> <%= f.label :content %> </label>
        <input class="form-control" <%= f.text_field :content %>>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</form>
